/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&family=Roboto:wght@400;500;900&display=swap");

/* common Styles or Utilites  */

body {
  font-family: "Poppins", "Roboto", sans-serif;
  background-color: #e5e5e5;
}
main {
  display: flex;

  align-items: center;
  flex-direction: column;
}

.container {
  background-color: #ffff;
  width: 870px;
  padding: 33px 33px 42px 33px;
  border-radius: 10px;
  margin-bottom: 30px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* top players styele */
.top-players {
  margin-bottom: 30px;
}

.section-title {
  color: #562eff;
  margin-top: 3px;
  font-size: 24px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  height: 56px;
  width: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/*------------------- 
    top blogs styles
----------------------- */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}

.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}

.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}

/* Courses styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}



.course .course-banner img{
    width: 224px;
    height: 104px;
}

.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.fas-star{
    font-size:14px; 
}

.fas-star.filled{
    color: #ffc014;
}
.fas-star.empty {
    color: #Aeaeae;
}


/*---------------- 
Media Queries 
------------------*/

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    
    
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blogs, .courses{
        flex-direction: column;
    }    
}

/* Tablet Devices */

@media only screen and (min-width: 688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .blogs {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    }
